@font-face {
  font-family: 'Gabarito';
  src: url(/fonts/Gabarito-Regular.ttf);
}

@font-face {
  font-family: 'Outfit';
  src: url(/fonts/Outfit-Black.ttf);
}

*:not(code) {
  font-family: 'Gabarito', sans-serif;
}

h1, h2, h3 {
  font-family: 'Outfit', sans-serif;
}

.hero {
  @media (width >= 50rem) {
    grid-template-columns: 6fr 5fr;
    padding-top: 12px;
  }

  .hero-html {
    justify-content: end;
  }

  img.heroImage {
    max-width: 100%;
  }
}